#template banks can potentially contain terabytes of data, so we don't want to store them in the git repository
template_banks/*

!template_banks/GSTLal_templates.npy

#noise can also contain large amounts of data
noise/*

!noise/segments/

#configs contains all the generated SNR time series

configs/*
args/*

*.log
*.txt

**.ipynb

**__pycache__**
#logs

load*

/*.json
/*.sh

!template_banks/PyCBC_98_aligned_spin.txt
!template_banks/PyCBC_98_aligned_spin_intermediate.hdf

glitches

build

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

