#template banks can potentially contain terabytes of data, so we don't want to store them in the git repository
template_banks/*

!template_banks/GSTLal_templates.npy

#noise can also contain large amounts of data
noise/*

!noise/segments/

#configs contains all the generated waveforms

configs/*

*.log
*.txt

**.ipynb

**__pycache__**


load*

*.json


# ignore job submission scripts
SNR.sh
bank.sh
fetch_noise.sh
generate_configs.sh
